# ==========================================
# 1. Environment Variables
# ==========================================
.env
data/CarFaults_50000.xlsx

# ==========================================
# 2. Python Virtual Environments
# ==========================================
.venv/
venv/
env/

# ==========================================
# 3. Python Cache
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# 4. Databases & Data Files
# ==========================================
chroma_db/
chromadb/
*.xlsx

# ==========================================
# 5. IDEs
# ==========================================
.vscode/
.idea/

# ==========================================
# 6. OS Files
# ==========================================
.DS_Store
Thumbs.db
